.empty {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 800;
    color: rgb(66, 66, 66);
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    .wrapper {
        padding: 10px 5px;

        &:hover {
            color: rgb(73, 99, 191);
        }
    }
}